* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #222;
  cursor: none;
  font-family: "Roboto", sans-serif;
}

.nt-container ul {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.nt-container ul li {
  position: relative;
  padding: 10px 0;
  text-align: center;
}

.nt-container ul li a {
  text-decoration: none;
  color: #555;
  cursor: none;
}

.nt-container ul li a span {
  position: relative;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  transition: 0.25s;
}

.nt-container ul li:hover a span {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 30px #fff, 0 0 60px #fff,
    0 0 100px #fff;
}
#cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 30px #fff, 0 0 60px #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

body:hover #cursor {
  opacity: 1;
}
