.c3-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: #222;
}

.c3-cube {
  position: absolute;
  width: 280px;
  height: 280px;
  transition: 1s;
}

.c3-cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;

  animation: c3Animate2 6s linear infinite;
}

@keyframes c3Animate2 {
  0% {
    transform: rotateX(-20deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(360deg);
  }
}

.c3-cube .big span {
  position: absolute;
  width: 280px;
  height: 280px;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.c3-cube .big span:nth-child(5)::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  transform: translateZ(-350px);
  box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.1);
}

/****/

.c3-cobe2-container {
  transition: 1s;
  transition-delay: 1s;
  position: relative;
  top: -80px;

  animation: cube2Animate 5s linear infinite;
}

@keyframes cube2Animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.c3-cobe2-container .c3-cube2 {
  position: relative;
  z-index: 2;
}
.c3-cobe2-container .c3-cube2:nth-child(2) {
  z-index: 1;
  translate: -60px -60px;
}
.c3-cobe2-container .c3-cube2:nth-child(3) {
  z-index: 3;
  translate: 60px 60px;
}
.c3-cube2 div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.c3-cube2 div span {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #dcdcdc;
  transition: 1.5s;
}

.c3-cube2 div span:hover {
  transition: 0s;
  background: #7a00df;
  box-shadow: 0px 0px 30px 10px rgba(122, 0, 233, 0.5);
}

.c3-cube2 div span::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #fff;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 1.5s;
}

.c3-cube2 div span:hover::before {
  transition: 0s;
  background: #a438ff;
}
.c3-cube2 div span::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #fff;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 1.5s;
}

.c3-cube2 div span:hover::after {
  transition: 0s;
  background: #991fff;
}
