.cp-container {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #222;
  overflow: hidden;
}

.cp-container h2 {
  color: #fff;
  font-size: 6vw;
  z-index: 10000;
  user-select: none;
  pointer-events: none;
  text-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
}

.cp-container span {
  position: absolute;
  pointer-events: none;
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: animateCp 4s linear forwards;
  background-image: url;
}

@keyframes animateCp {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  5%,
  95% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}
