* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fc-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e1538;
  font-family: "Poppins", sans-serif;
}

.fc-fullbox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.fc-box {
  position: relative;
  width: 400px;
  height: 500px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .fc-box {
    width: 300px;
    height: 400px;
  }
}

.fc-box::before,
.fc-box::after {
  content: "";
  position: absolute;
  background: linear-gradient(315deg, #00ccff, #da00d4);
  inset: -80px 100px;
  transition: 0.5s;
  animation: animate 8s linear infinite;
}

.fc-box::after {
  background: linear-gradient(315deg, #ffeb3b, #e91e63);
  animation-delay: -2s;
}

.fc-box:hover::before,
.fc-box:hover::after {
  animation-play-state: paused;
  inset: -80px 80px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#fc1::before,
#fc1::after {
  filter: hue-rotate(0deg);
}

#fc2::before,
#fc2::after {
  filter: hue-rotate(120deg);
}

#fc3::before,
#fc3::after {
  filter: hue-rotate(240deg);
}

.fc-box i {
  position: absolute;
  inset: 1px;
  background: #0e1538;
  z-index: 1;
}

.fc-box .content {
  position: absolute;
  inset: 20px;
  background: #0d122c;
  border: 3px solid #070c23;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-size: cover;
}

.fc-box .content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  z-index: 3;
  pointer-events: none;
}
.fc-box:hover .content img {
  opacity: 0;
}

.fc-box .content h2 {
  position: relative;
  z-index: 2;
  font-size: 1em;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1em;
  text-transform: uppercase;
}

.fc-box .content h2 span {
  font-weight: 300;
  font-size: 0.7em;
}

.fc-box .content a {
  position: relative;
  margin-top: 10px;
  padding: 5px 10px;
  background: #fff;
  font-size: 0.5em;
  color: #070a1c;
  border-radius: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: 0.5s;
}

.fc-box .content a:hover {
  letter-spacing: 0.2em;
}
