* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
}

:root {
  --clr: #222327;
}

.all-box {
  position: relative;
  width: 400px;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

.menuani-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr);
  min-height: 100vh;
}

.list-box {
  display: flex;
  width: 350px;
}

.list-box li {
  position: relative;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.list-box li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.list-box li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}

.list-box li.active a .icon {
  transform: translateY(-32px);
}
.list-box li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.list-box li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background-color: #29fd53;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--clr);
}

.list-box li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.list-box li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.list-box li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.list-box li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.list-box li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}
